<html>
    <head>
        <!-- HEAD -->
        {% include 'recipes/application/head.html' %}
        <title>Página de Consulta de funcionários</title>
    </head>
<body>
    <!-- Cabeçalho -->
    {% include 'recipes/layout/header.html' %} 
    <!-- Conteúdo -->
    {% include 'recipes/views/funcionario/consulta.html' %} 
    <!-- Rodapé -->
    {% include 'recipes/layout/footer.html' %} 
    <!-- Scripts Globais -->
    {% include 'recipes/application/end.html' %}
    <!-- Scripts adicionais[...] -->
    {% include 'recipes/views/cliente/scripts/cadastro.html' %}
</body>
</html>