<div>
  <div class="container bg-light">
    <div class="card my-2">
        <div class="card-body">
            {% comment %} <form action="{%url'fornecedor_cadastro'%}" method="POST"> {% endcomment %}
            <form action="{%url 'fornecedor_cadastro' %}" method="POST">
                {% csrf_token %}
              <div class="row">
                <div class="col col-lg-6">
                  <label>Nome do Fornecedor</label>
                  <input
                    class="form-control"
                    placeholder="Insira seu nome"
                    value=""
                    type="text"
                    required
                    name="fornecedor_nome"
                  />
                </div>
                <div class="col col-lg-3">
                  <label>CNPJ</label>
                  <input
                    class="form-control"
                    placeholder="Insira seu CNPJ"
                    value=""
                    type="text"
                    required
                    name="fornecedor_cnpj"
                  />
                </div>
                <div class="col col-lg-4">
                  <label>Email</label>
                  <input
                    class="form-control"
                    placeholder="Insira seu email"
                    value=""
                    type="text"
                   required
                    name="fornecedor_email"
                  />
                </div>
                <div class="col col-lg-4">
                  <label>Número de contato</label>
                  <input
                    class="form-control"
                    placeholder="Insira seu número de contato"
                    value=""
                    type="text"
                    required
                    name="fornecedor_contato"
                  />
                </div>
                <div class="col col-lg-4">
                  <label>CEP</label>
                  <input
                    class="form-control"
                    placeholder="Insira seu CEP"
                    value=""
                    type="text"
                    required
                    name='fornecedor_cep'
                  />
                </div>
                <div class="col col-lg-6">
                  <label>Logradouro</label>
                  <input
                    class="form-control"
                    placeholder="Insira seu logradouro"
                    value=""
                    type="text"
                    required
                    name="fornecedor_logradouro"
                  />
                </div>
                <div class="col col-lg-6">
                  <label>Número</label>
                  <input
                    class="form-control"
                    placeholder="Insira seu número"
                    value=""
                    type="text"
                    required
                    name='fornecedor_numero'
                  />
                </div>
                <div class="col col-lg-6">
                  <label>Bairro</label>
                  <input
                    class="form-control"
                    placeholder="Insira seu bairro"
                    value=""
                    type="text"
                    required
                    name='fornecedor_bairro'
                  />
                </div>
                <div class="col col-lg-6">
                  <label>Complemento</label>
                  <input
                    class="form-control"
                    placeholder="Insira um complemento"
                    value=""
                    type="text"
                    required
                    name='fornecedor_complemento'
                  />
                </div>
                <div class="col col-lg-6">
                  <label>Cidade</label>
                  <input
                    class="form-control"
                    placeholder="Insira o Nome da sua cidade"
                    value=""
                    type="text"
                    required
                    name="fornecedor_cidade"
                  />
                </div>
                <div class="col col-lg-6">
                  <label>Estado</label>
                  <input
                    class="form-control"
                    placeholder="Insira o Nome do seu estado"
                    value=""
                    type="text"
                    required
                    name="fornecedor_estado"
                  />
                </div>
              </div>
               <div class="card bg-light" style='margin-top:10px'>
        <div class="card-body" style='padding-top:10px;'>
            <div class="row justify-content-end" >
                <div class="col-auto">
                    <button class="btn btn-danger" id='cancelar'>Cancelar</button>
                </div>
                <div class="col-auto">
                    <button type='submit' class="btn btn-primary" id="enviar">Salvar fornecedor</button>
                </div>
            </div>
        </div>
    </div>
            </form>
        </div>
    </div>
  </div>
</div>
