<div>
    {% if form.errors %}
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <script type="text/javascript">
            function exibirMensagem(){
                Swal.fire({
                    icon: "error",
                    title: "Algo deu errado.",
                    html: "{{error}}",
                    timer: 1500
                  });
            }
            exibirMensagem();
        </script>
        {% endfor %}
    {% endfor %}
    {% endif %}
</div>
