<div>
    {% for mensagem in messages %}
        <script type="text/javascript">
            function exibirMensagem(){
                Swal.fire({
                    icon: "{% if message.level != DEFAULT_MESSAGE_LEVELS.ERROR %}success{% else %}error{% endif %}",
                    title: "{% if message.level != DEFAULT_MESSAGE_LEVELS.ERROR %}Tudo certo{% else %}Algo deu errado{% endif %}",
                    text: "{{mensagem}}",
                  });
            }
            exibirMensagem();
        </script>
    {% endfor %}
</div>
