<div>
  <div class="container bg-light">
    <div class="card my-2">
        <div class="card-body">
            <form action="{% url 'cliente_cadastro' %}" method="POST">
              {% csrf_token %}
              {% for field in form %}

              <h1>
                {{ field.label_tag }}
              </h1>
                {{ field }}
            

              {% endfor %}
              <button>Enviar</button>
            </form>
            {% for mensagem in messages %}
            <p>{{ mensagem }}</p>
            {% endfor %}
        </div>
    </div>
  </div>
</div>
