<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Tabela de Clientes</title>
    <link rel="stylesheet" href="{% static './recipes/style.css/consulta.css' %}" />
    <link rel="stylesheet" href="{% static './recipes/style.css/consulta.css' %}" />
    <!-- Adicione o Bootstrap (CSS e JS) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
</head>
<body>

<h1>Tabela de Clientes</h1>

<table id="grid">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Contato</th>
            <th>RG</th>
            <th>Contato</th> 
            <th>Endereço</th> 
            <th>Bairro</th> 
            <th>Numero</th> 
            <th>Cidade</th> 
            <th>CEP</th> 
            <th>Estado</th> 
            <th>Ações</th>
            
        </tr>
    </thead>
    <tbody id="grid-body">
        <!-- Loop para preencher a tabela com os dados -->
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.contato }}</td>
            <td>{{ cliente.rg }}</td>
            <td>{{ cliente.contato }}</td>
            <td>{{ cliente.endereco }}</td>
            <td>{{ cliente.bairro }}</td>
            <td>{{ cliente.numero }}</td>
            <td>{{ cliente.cidade }}</td>
            <td>{{ cliente.cep }}</td>
            <td>{{ cliente.estado }}</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditar{{ cliente.id }}">
                    Alterar
                </button>
            </td>
        </tr>
        <div class="modal" id="modalEditar{{ cliente.id }}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Cabeçalho do modal -->
                    <div class="modal-header">
                        <h4 class="modal-title">Editar cliente</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Conteúdo do modal com o formulário de edição -->
                    <div class="modal-body">
                        <!-- Seu formulário de edição -->
                        <form action="{% url 'cliente_editar' cliente.id %}" method="POST">
                            {% csrf_token %}
                          <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" id="nome" name="nome" value="{{ cliente.nome }}">
                        </div>
                            <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ cliente.email }}">
                        </div>
                        <div class="form-group">
                            <label for="nome">Contato:</label>
                            <input type="text" class="form-control" id="nome" name="nome" value="{{ cliente.contato }}">
                        </div>
                            <div class="form-group">
                            <label for="email">Endereco:</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ cliente.endereco }}">
                        </div>
                        <div class="form-group">
                            <label for="nome">Bairro:</label>
                            <input type="text" class="form-control" id="nome" name="nome" value="{{ cliente.bairro }}">
                        </div>
                            <div class="form-group">
                            <label for="email">Numero:</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ cliente.numero }}">
                        </div>
                        <div class="form-group">
                            <label for="nome">Cidade:</label>
                            <input type="text" class="form-control" id="nome" name="nome" value="{{ cliente.cidade }}">
                        </div>
                            <div class="form-group">
                            <label for="email">CEP:</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ cliente.cep }}">
                        </div>
                        <div class="form-group">
                            <label for="nome">Estado:</label>
                            <input type="text" class="form-control" id="nome" name="nome" value="{{ cliente.estado }}">
                        </div>
                            
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum cliente encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
