<html>
    <head>
        <!-- HEAD -->
        {% include 'recipes/application/head.html' %}
        <title>Página de cadastro de cliente</title>
    </head>
<body>
    <!-- Cabeçalho -->
    {% include 'recipes/layout/header.html' %} 
    <!-- Conteúdo -->
    {% include 'recipes/views/cliente/cadastro.html' %} 
    <!-- Rodapé -->
    {% include 'recipes/layout/footer.html' %} 
    <!-- Scripts Globais -->
    {% include 'recipes/application/end.html' %}
    <!-- Scripts adicionais[...] -->
</body>
</html>