{% include 'recipes/partials/head.html' %}

<body>
    {% include 'recipes/partials/header.html' %} 

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'recipes/partials/recipe.html' %}
        </div>
    </main>

    {% include 'recipes/partials/footer.html' %}

    <form action="{% url 'cadastrar_cliente' %}">
        <input type="text" name="nome" id="">
        <button type="submit"></button>
    </form>
</body>
</html>